
.uppernav{
    height:100px;
    width:100%;
    border:1px solid blueviolet;
    display: flex;
    color:white;
    background-color: black;
}
.uppernav>div{
    height:100px;
    width:200px;
    /* border:1px solid red; */
    margin-left: 20px;
}
.uppernav>div:nth-child(1) img{
    height:90px;
    width:100px;
}
.secondnav{
    width:100%;
    height: 40px;
    background-color: rgb(103, 100, 100);
    margin-top: -20px;
    color:white;
}
.secondnav ul{
    display: flex;
    list-style-type: none;
   
 }
.secondnav ul li{
    margin-left: 30px;
    margin-top: 10px;
 
}
.secondnav ul li:nth-child(1){
    margin-right:20px;
}
.thirdnav{
    height:430px;
    width:100%;
    border:1px solid rgb(18, 18, 12);
    background-color: #ffd77d;
border-radius: 10px;
display: flex;

}
.thirdnav h2{
    margin-top: 5px;
}

.thirdnav>div{
    margin-top: 80px;
    width:-70px;
 border-radius: 10px;
    height:330px;
    background-color: white;
    margin-left:20px;
}
.thirdnav>div img{
    margin-top: 10px;
 
}
.footer h3{
    width:100%;
    height:30px;
    border:1px solid black;
    background-color: gray;
    margin-top: 10px;
    text-align:center;
}
.last{
    display: flex;
    justify-content: space-around;
    background-color: #232f3e;
    margin-top: -20px;
}

.last ul li{
    margin-bottom: 10px;
    list-style-type: none;
    color:white;
    
}

